@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  background-color: white, #f7f7f7;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  letter-spacing: 1px;
  text-align: center;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.active {
  background-color: #5f5959;
}

.list-item {
  display: flex;
  padding: 0;
  margin: 8px 0;
  min-width: 300px;
  font-size: 22px;
  background-color: wheat;
  cursor: grab;
  border-radius: 10px;
}

.list-item > h3 {
  padding: 10px;
  margin: 0;
  border-right: 2px solid red;
  width: 60px;
}

.list-item > span {
  margin-right: 10px;
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  padding-right: 16px;
}

.next-position {
  border: 2px solid orangered;
  opacity: 0.2;
}
